body{
    margin:0px;
    height: 100vh;
    width: 100vw;
    min-width: 1280px;
    min-height: 720px;
    overflow: hidden;
}

#mainDiv{
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    background-attachment: fixed;
    background-size: contain;
    overflow: hidden;
}
.arrowButtons:hover{
     cursor: pointer;
}

#mainDiv p{
    position: relative;
    top:30%;
    border: 0;
    margin: 0;
    color:white;
    font-size: 50px;
    width: 100vw;   
}

#leftArrow{
    width: 0px;
    height: 0px;
    position: absolute;
    top:44%;
    left:1%;
    border-top: 6vh solid transparent;
    border-right: 3vh solid #000;
    border-bottom: 6vh solid transparent;

}

#rightArrow{
    width: 0px;
    height: 0px;
    position: absolute;
    top:44%;
    left:98%;
    border-top: 6vh solid transparent;
    border-left: 3vh solid #000;
    border-bottom: 6vh solid transparent;
}


#bottomArrow{
    width: 0px;
    height: 0px;
    position: absolute;
    top:97%;
    z-index: 9;
    left:47%;
    border-left: 6vh solid transparent;
    border-right: 6vh solid transparent;
    border-top: 3vh solid #000;
}

#leftArrow:hover{
    border-right: 24px solid #2222dd;
}
#rightArrow:hover{
    border-left: 24px solid #2222dd;
}

#bottomArrow:hover{
    border-top: 24px solid #2222dd;
}

#startButton{
    cursor: pointer;
    background: transparent;
    border: none;
    font-size:0;
    width: 53vw;
    height: 18vh;
    position: absolute;
    left: 23%;
    top: 27%; 
}

#restartButton{
    cursor: pointer;
    background: transparent;
    border: none;
    font-size:0;
    position: absolute;
    z-index: 1;
    bottom: 2%;
    left: 7%;
    width: 11%;
    height: 20%;
    border-radius: 20px;
    font-size: 40px;
    font-family: serif;
    margin: 0;
    display: none;
}


#countdownClock{
    position: absolute;
    right:1%;
    top: 2%;
    background-color: red;
    opacity:0;
    display: inline-block;
    padding: 5px;
    border:6px solid #444;
    font-size: 3vh;
    font-family: digital-clock-font;
}
#countdownClock div{
    display: inline-block;
}

@font-face{
 font-family:'digital-clock-font';
 src: url('../DIGITALDREAM.ttf');
}


#backgroundImg{
    overflow: hidden;
    display: none;
    width:100%;
    height: 100%;
    z-index: 0;
    margin: 0;
}

#backgroundImgLeftHalf{
    position: absolute;
    left: 0; 
}

#backgroundImgRightHalf{
    position: absolute;
    right: 0; 
}

#StartVideo, #GameOverVideo, #GameWinVideo{
    height: 99%;  
    overflow: hidden;
}

#GameOverVideo, #GameWinVideo{
    display: none;
}

#dimmnesBox{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000a;
    z-index: 8;
}

#inventory{
    padding: none;
    display: none;
    border:3px solid black;
    height: 11vh;
    background-color: gray;
    z-index: 9;
    position: absolute;
    left:3%;
    bottom: 4%;
    border-radius: 10px;
    overflow: hidden;
}

.inventorySlot{
    margin: 2%;
    width: 4vw;
    height: 75%;
    background-color: #fff;
    display: inline-block;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    border:2px solid black;
    overflow: hidden;
    border-radius: 5px;
}

.inspectButton{
    position: relative;
    top:75%;
    background-color: #6666dd;
    color:white;
    cursor: pointer;
}

#inventoryArrowLeft{
    width: 0px;
    height: 0px;
    display: inline-block;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-top: 4vh solid transparent;
    border-right: 2vh solid orange;
    border-bottom: 4vh solid transparent;
    cursor: pointer; 
    z-index: 10;
}


#inventoryArrowRight{
    width: 0px;
    height: 0px;
    display: inline-block;
    z-index: 10;
    margin-left: 1px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-top: 4vh solid transparent;
    border-left: 2vh solid orange;
    border-bottom: 4vh solid transparent;
    cursor: pointer;
}

#inventoryArrowLeft:hover{
    border-right: 2vh solid #ffd800ff;
}

#inventoryArrowRight:hover{
    border-left: 2vh solid #ffd800ff;
}

#inspectionImage{
    position: relative;
    left: auto;
    right: auto;
    top: 7%;
    width: 30vw;
    height: 80vh;
    background-color: white;
    border: 5px solid black;
}

#inspectionScreen{
    display: none;
    position: absolute;
    top:5%;
    left:35%;
    right: auto;
    z-index: 10;
    background-color: #aaa;
    background-size: contain;
    background-repeat: no-repeat;  
    border: solid 7px black;
    border-radius: 20px;
    padding: 20px;
    padding-top: 60px;
}

#leaveInspectButton{
    position: absolute;
    cursor: pointer;
    right: 1%;
    top: 1%;
    font-size: 30px;
    background-color: #cc0000;
    border:3px solid black;
    border-radius: 45px;
}

#ObjectDescription{
    position: absolute;
    left: calc(10% - 15px);
    bottom:5%;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #dddddd;
    padding: 10px;
    width:80%;
    height: 60;;
    text-align: left;
}
