body{
    margin:0px;
    height: 100vh;
    width: 100vw;
    min-width: 1280px;
    min-height: 720px;
    overflow: hidden;
}

#mainDiv{
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    background-attachment: fixed;
    background-size: contain;
    overflow: hidden;
}
.arrowButtons:hover{
     cursor: pointer;
}

#IntroVideo{
    height: 99%;  
    overflow: hidden;
    display: none;
}

#introStartButton{
    position: absolute;
    bottom:5%;
    right: 3%;
    font-size: 35px;
    padding: 7px;
    border: 10px solid #000;
    background-color: #ffed86;
    color:black;
    border-radius: 20px; 
    cursor: pointer;
    display: none;
}



#leftArrow{
    width: 0px;
    height: 0px;
    position: absolute;
    top:44%;
    left:1%;
    border-top: 6vh solid transparent;
    border-right: 3vh solid #000;
    border-bottom: 6vh solid transparent;
    display: none;
}

#rightArrow{
    width: 0px;
    height: 0px;
    position: absolute;
    top:44%;
    left:98%;
    border-top: 6vh solid transparent;
    border-left: 3vh solid #000;
    border-bottom: 6vh solid transparent;
    display: none;
}


#bottomArrow{
    width: 0px;
    height: 0px;
    position: absolute;
    top:96%;
    z-index: 9;
    left:47%;
    border-left: 6vh solid transparent;
    border-right: 6vh solid transparent;
    border-top: 3vh solid #000;
    display: none;
}

#leftArrow:hover{
    left:1.1%;
    border-right: 2.9vh solid #2222dd;
}
#rightArrow:hover{
    left:97.95%;
    border-left: 2.9vh solid #2222dd;
}

#bottomArrow:hover{
    border-top: 2.9vh solid #2222dd;
    top:96.1%;
}

#startButton{
    cursor: pointer;
    background: transparent;
    border: none;
    font-size:0;
    width: 53vw;
    height: 18vh;
    position: absolute;
    left: 23%;
    top: 27%; 
}

#restartButton{
    cursor: pointer;
    background: transparent;
    border: none;
    font-size:0;
    position: absolute;
    z-index: 1;
    bottom: 2%;
    left: 7%;
    width: 11%;
    height: 20%;
    border-radius: 20px;
    font-size: 40px;
    font-family: serif;
    margin: 0;
    display: none;
}


#countdownClock{
    position: absolute;
    right:1%;
    top: 2%;
    background-color: red;
    opacity:0;
    display: inline-block;
    padding: 5px;
    border:6px solid #444;
    font-size: 3vh;
    font-family: digital-clock-font;
    z-index: 12;
}
#countdownClock div{
    display: inline-block;
}

@font-face{
 font-family:'digital-clock-font';
 src: url('../CSS/DIGITALDREAM.ttf');
}


#backgroundImg{
    overflow: hidden;
    display: none;
    width:100%;
    height: 100%;
    z-index: 0;
    margin: 0;
}

#backgroundImgLeftHalf{
    position: absolute;
    left: 0; 
}

#backgroundImgRightHalf{
    position: absolute;
    right: 0; 
}

#StartVideo, #GameOverVideo, #GameWinVideo{
    height: 99%;  
    overflow: hidden;
}

#GameOverVideo, #GameWinVideo{
    display: none;
}

#dimmnesBox{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000a;
    z-index: 8;
}

#inventory{
    padding: none;
    display: none;
    border:none;
    height: 11vh;
    width: 45%;
    background-color: #0006;
    z-index: 20;
    position: absolute;
    right:1%;
    bottom: 2%;
    border-radius: 10px;
}

.inventorySlot{
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 9%;
    height: 90%;
    background-color: transparent;
    display: inline-block;
    z-index: 20;
    text-align: center;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    border-radius: 5px;
}

.inventorySlot:hover{
    z-index: 21;
    transform: scale(3);
    position: relative;
    bottom: 90%;
}

