#Screwdriver{
    position: absolute;
    bottom: 41%;
    right: 79%;
    width: 5vw;
    height: 2vh;
    display: none;
}

#riddle-1-a{
    position: absolute;
    width: 3vw;
    height: 4vh;
    top:56%;
    left:40%;
    display: none;
}

#riddle-1-c{
    position: absolute;
    width: 3%; 
    height: 6%;
    top: -10%;
    left: 21.5%; 
}

#riddle-2-hint{
    position: absolute;
    width: 3%; 
    height: 6%;
    top: -10%;
    left: 17%; 
}

#riddle-1-b{
    position: absolute;
    top:51.5%;
    left:33%;
    width:5%;
    height:13%;
    z-index: 11;
    display: none;
}

#riddle-3-b{
    position: absolute;
    top:-26.5%;
    right:8%;
    width:2%;
    height:5%;
    display: none;
}

#riddle-3-a{
    position: absolute;
    top:-67.5%;
    left:28.5%;
    width:2%;
    height:6%;
    display: none; 
}


#riddle-4-hint{
    position: absolute;
    top:-45.5%;
    left:47.2%;
    width:3%;
    height:6%;
    display: none; 
}